* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  .jl-page-wrapper,
  .jl-preloader {
    width: 100%;
    height: 100vh;
    display: block;
    background: #1c1c1c;
    border: 10px solid #000;
  }

  .jl-preloader {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
  }

  .jl-preloader img {
    width: 70%;
    height: auto;
  }

  .jl-preloader p {
    width: 80%;
    text-align: center;
    font-size: 18px;
  }

  .jl-topbar {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  .jl-logo {
    width: 50px;
    height: 100%;
    margin-left: 20px;
    background-color: #2ccb69;
    border-radius: 0 0 24px 0;
    display: flex;
    justify-content: center;
  }

  .jl-logo img {
    margin-top: 20px;
    width: 30px;
  }

  .jl-menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .jl-menu a {
    font-family: "Open Sans";
    font-size: 16px;
    color: #bcbcbc;
    text-decoration: none;
    font-weight: 400;
    position: relative;
  }

  .jl-menu a:hover {
    color: #2ccb69;
  }

  /*linha com before*/
  .jl-menu a::before {
    content: "";
    width: 0;
    height: 4px;
    background-color: #2ccb69;
    position: absolute;
    display: block;
    bottom: -6px;
    left: 0;
    transition: all 0.3s ease-out;
  }

  .jl-menu a:hover::before {
    width: 100%;
  }

  .jl-menu a:active {
    color: #2ccb69;
  }

  .jl-btn-contact {
    width: 45px;
    height: 45px;
    display: block;
    background: #2ccb69;
    background-image: url("../Image/icon-contact-close.svg");
    background-repeat: no-repeat;
    position: fixed;
    bottom: 20px;
    right: 14px;
    border-radius: 50%;
    z-index: 200;
    transition: all 0.2s ease-out;
    border: none;
    cursor: pointer;
  }

  .jl-contact-info {
    width: 170px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    padding-left: 10px;
    position: fixed;
    bottom: 90px;
    right: 35px;
    border-radius: 5px 5px 0 5px;
  }

  .jl-contact-info p:first-child {
    margin-bottom: 3px;
  }

  .jl-contact-info div {
    width: 90%;
    height: 30%;
  }

  .jl-contact-info .jl-links {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .image-corner {
    position: absolute;
    bottom: 66px;
    right: 35px;
  }
}

.jl-container-info {
  display: none;
}

@media screen and (min-width: 576px) {
  .jl-preloader img {
    width: 50%;
  }

  .jl-preloader p {
    width: 90%;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .jl-page-wrapper {
    border: 20px solid #000;
  }

  .jl-preloader img {
    width: 40%;
  }

  .jl-preloader p {
    font-size: 22px;
  }

  .jl-topbar {
    height: 110px;
  }

  .jl-logo {
    width: 64px;
    margin-left: 40px;
    border-radius: 0 0 30px 0;
  }

  .jl-logo img {
    width: 40px;
  }

  .jl-btn-contact {
    bottom: 25px;
    right: 25px;
  }

  .jl-contact-info {
    width: 210px;
    height: 140px;
    padding-left: 20px;
    bottom: 94px;
    right: 45px;
  }

  .jl-contact-info p:first-child {
    margin-bottom: 5px;
  }

  .jl-contact-info .jl-links {
    width: 70%;
    align-items: center;
  }

  .image-corner {
    bottom: 70px;
    right: 45px;
  }
}

@media screen and (min-width: 992px) {
  .jl-page-wrapper {
    border: 30px solid #000;
  }

  .jl-preloader img {
    width: 30%;
  }

  .jl-preloader p {
    font-size: 24px;
  }

  .jl-topbar {
    height: 110px;
  }

  .jl-logo {
    width: 74px;
    margin-left: 60px;
    border-radius: 0 0 35px 0;
  }

  .jl-logo img {
    margin-top: 25px;
    width: 50px;
  }

  .jl-menu {
    height: 110px;
  }

  .jl-btn-contact {
    width: 45px;
    height: 45px;
    bottom: 45px;
    right: 45px;
  }

  .jl-contact-info {
    width: 245px;
    height: 165px;
    bottom: 115px;
    padding-left: 25px;
    right: 70px;
  }

  .jl-contact-info .jl-links {
    width: 60%;
  }

  .image-corner {
    bottom: 91px;
    right: 70px;
  }
}

@media screen and (min-width: 1200px) {
    .jl-preloader img {
        width: 20%;
      }
    
      .jl-preloader p {
        font-size: 26px;
      }
}

/*classes utilitaries */
.jl-title {
  font-family: "Abril Farface", serif;
  font-weight: 400;
}

.jl-text-green {
  color: #2ccb69;
}

.jl-text-dark {
  color: #4d4c4c;
}

.jl-text-light {
  color: #bcbcbc;
}

.jl-text-black {
  color: #000;
}

.jl-bg-green {
  background: #2ccb69;
}

.jl-bg-dark {
  background: #4d4c4c;
}

.jl-bg-light {
  background: #bcbcbc;
}

.jl-bg-black {
  background: #000;
}

.jl-mar-top-10 {
  margin-top: 10px;
}

.jl-mar-top-15 {
  margin-top: 15px;
}

.jl-mar-top-30 {
  margin-top: 30px;
}

/*javascript function*/
.jl-is-open {
  display: block;
}

.jl-change-icon {
  background-position-y: -45px;
}
